<%= form_with model: @customer, url: '/customers/mypage', method: :patch do |f| %>
<h1>会員情報編集</h1>
<%= f.label :last_name,"氏名"%>
<%= f.text_field :last_name %>
<%= f.label :first_name %>
<%= f.text_field :first_name %></br>
<%= f.label :last_name_kana,"フリガナ"%>
<%= f.text_field :last_name_kana %>
<%= f.label :first_name_kana %>
<%= f.text_field :first_name_kana %></br>
<%= f.label :postal_code,"郵便番号" %>
<%= f.text_field :postal_code %></br>
<%= f.label :address,"住所" %>
<%= f.text_field :address %></br>
<%= f.label :email,"メールアドレス" %>
<%= f.text_field :email %></br>

<%= f.submit "編集内容を保存",class: "btn btn-success" %>
<% end %>
<%= link_to '退会する', customers_confirmation_path,class: "btn btn-danger" %>
