<h1>商品一覧</h1>
<%= link_to new_admin_item_path do %>
<i class="fa-solid fa-plus"></i>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
    <th class= "bg-light">商品ID</th>
    <th class= "bg-light">商品名</th>
    <th class= "bg-light">税抜価格</th>
    <th class= "bg-light">ジャンル</th>
    <th class= "bg-light">ステータス</th>
    </tr>
    </thead>
    <tbody>
      <% @items.each do |item|%>
        <tr>
            <td><%= item.id %></td>
            <td><%= link_to admin_item_path(item.id) do %>
              <%= item.name %>  
              <% end %></td>
            <td><%= item.price%></td>
            <td><%= item.genre.name%></td>
            <% if item.is_active ==true %>
       <td>販売中</td>
      <% else %>
      <td>販売停止中</td>
      <% end %>
        </tr>
        <% end %>
        <%= paginate @items %>
    </tbody>