<h1>注文履歴一覧</h1>
<table class="table table-bordered">
  <thead>
    <tr>
        <th class= "bg-light">購入日時</th>
        <th class= "bg-light">購入者</th>
        <th class= "bg-light">注文個数</th>
    </tr>
  </thead>
  <tbody>
    <% @order.each do |order| %>
    <tr>
      <td><%= link_to admin_order_path(order.id) do %>
        <%= order.created_at %>
        <% end %></td>
      <td><%= order.name %></td>
        <td><%= order.order_products.sum(:amount)  %></td>
    </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @order %>