<h1>配送先編集</h1>
<%= form_with model: @address, url: address_path, method: :patch do |f| %>
<%= f.label:postal_code,'郵便番号（ハイフンなし）'%>
<%= f.text_field:postal_code %>
<%= f.label:address,'住所'%>
<%= f.text_field:address %>
<%= f.label:name,'宛名'%>
<%= f.text_field:name %>
<%= f.submit '変更内容の保存', class: "btn btn-success" %>
<% end %>